:root {
}

.choiceButton {
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    background-color: rgb(215, 188, 82);
    -unity-text-align: upper-center;
    font-size: 295%;
    -unity-font-style: bold;
    height: auto;
    align-content: center;
    align-self: center;
    justify-content: center;
    flex-shrink: 0;
}



.choiceButton :hover {
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-bottom-color: rgb(107, 107, 107);
    border-left-color: rgb(107, 107, 107);
    border-right-color: rgb(107, 107, 107);
    border-top-color: rgb(107, 107, 107);
    background-color: rgb(145, 126, 18);
    -unity-text-align: upper-center;
    font-size: 32%;
    -unity-font-style: bold;
    height: 20%;
    align-content: center;
    align-self: center;
    justify-content: center;
}
